@import "card.css";
@import "nav.css";
@import "theme.css";

@font-face {
    font-family: 'Commissioner';
    src: url('../assets/fonts/Commissioner/Commissioner-Regular.ttf');
}

@font-face {
    font-family: 'Commissioner-Bold';
    src: url('../assets/fonts/Commissioner/Commissioner-Bold.ttf');
}

body {
    font-family: Commissioner, sans-serif ;
}

strong {
    font-family: Commissioner-Bold, sans-serif ;
}

h1 {
    margin-top: -10px;
    margin-bottom: 10px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}
